/* ******Configurações da página****** */

body {
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
    margin: 0;
    background-image: url(../images/img/medical-clinic-background-contact.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* 

******Debug******

* {
    outline: 1px solid rgba(255, 0, 0, 0.3) !important;
} 

*/

.content {
    flex: 1;
    position: relative;
}

/* ******Configurações da barra superior****** */

.top-bar {
    position: relative;
    top: 0;
    width: 100%;
    background: rgba(30, 30, 63, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: white;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
}

/* ******Configurações do menu da barra superior****** */

#navbarNav {
    position: relative;
    left: 680px;
}

#perfil-btn-container {
    position: relative;
    right: 20px;
}

.navbar-nav {
    position: relative;
    display: flex;
    gap: 25px;
}

.nav-item {
    position: relative;
    top: 10px;
}

.navbar-brand {
    position: relative;
    left: 20px;
}

.nav-link {
    color: white;
    position: relative;
}

.nav-item-log {
    display: inline-block;
}

.button-card {
    border: none;
    margin-top: 15px;
    font-weight: bold;
    color: white;
    background-color: rgba(49, 113, 145, 0.9);
}

.button-card:hover {
    background: linear-gradient(135deg, rgb(30, 30, 63), #47acaf);
    color: white;
    transform: scale(1.02);
}

/* ******Configurações do formulário central****** */

.form-container {
    border-radius: 15px;
    padding: 40px;
    background-color: rgba(30, 30, 63, 0.9);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 90px 0 90px auto;
    margin-right: 50%;
}

.form-control {
    transition: all 0.3s ease;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 7px;
}

.form-control:hover {
    border-color: #a0a0a0;
}

.form-control:focus {
    outline: none;
    border-color: #1e1e3f;
    box-shadow: 0 0 0 3px #4a90e240;
}

/* ******Configurações da barra inferior****** */

.bottom-bar {
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    margin-top: auto;
    background-color: rgba(30, 30, 63, 0.9);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: white;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* ******Configurações dos itens/menu da barra inferior****** */

.left-content {
    justify-content: space-between;
    display: flex;
}

.center-content {
    position: relative;
    right: 100px;
    top: 10px;
}

.right-content {
    justify-content: space-between;
    display: flex;
    margin-top: 25px;
}

.menu {
    position: relative;
    right: 100px;
    top: 20px;
}

.menu-title {
    position: relative;
    left: 15px;
}

.menu-tip {
    position: relative;
    color: white;
    text-decoration: none;
}

.menu-tip:hover {
    position: relative;
    color: #47acaf;
    transform: scale(1.02);
}

.terms {
    position: relative;
    bottom: 90px;
    left: 100px;
}

.location {
    position: relative;
    right: 150px;
    bottom: 8px;
}

.address {
    color: white;
}

.follow {
    position: relative;
    display: flex;
    top: 40px;
    right: 20px;
}

.follow-me {
    font-size: 15px;
    position: relative;
    bottom: 30px;
    right: 55px;
    color: white;
}

.instagram-icon img {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
    right: 150px;
}

.instagram-icon img:hover {
    transform: scale(1.1);
}

.x-icon img {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
    right: 130px;
}

.x-icon img:hover {
    transform: scale(1.1);
}

.title-of-rights {
    position: relative;
    font-size: 12px;
    margin-top: 20px;
    left: 10px;
    top: 10px;
}

.button-1 {
    background: linear-gradient(135deg, #1e1e3f, #2a2a5a);
    border: none;
    margin-top: 15px;
    color: white;
}

.button-1:hover {
    background: linear-gradient(135deg, #1e1e3f, #2a2a5a);
    transform: scale(1.02);
}