body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
    margin: 0;
    background-image: url(../images/img/medical-clinic-background-register.jpg);
    background-attachment: fixed;
    /* Deixa a imagem fixa durante a rolagem */
    background-size: cover;
    /* Faz a imagem cobrir toda a área */
    background-position: center;
}

/* * {
    outline: 1px solid rgba(255, 0, 0, 0.3) !important;
} */

.content {
    flex: 1;
    /* Faz o conteúdo principal ocupar o espaço entre o topo e a navegação */
    position: relative;
    /* Permite posicionamento absoluto dentro desta div */
    padding-bottom: 150px;
    /* Espaço para a bottom-bar */
}

.top-bar {
    position: relative;
    top: 0;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: white;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    /* Transição suave ao esconder/exibir */
}

#navbarNav {
    position: relative;
    left: 700px;
}

.navbar-nav {
    position: relative;
    display: flex;
    gap: 25px;
}

.nav-item {
    position: relative;
    top: 10px;
}

.navbar-brand {
    position: relative;
    left: 20px;
}

.nav-link {
    color: white;
    position: relative;
}

.button-card {
    border: none;
    margin-top: 15px;
    font-weight: bold;
    color: white;
    background-color: rgba(49, 113, 145, 0.9);
}

.button-card:hover {
    background: linear-gradient(135deg, #1e1e3f, #47acaf);
    color: white;
    transform: scale(1.02);
}

.middle-content {
    position: relative;
}

.form-container {
    position: relative;
    background: linear-gradient(135deg, #1e1e3f, #277375);
    padding: 30px;
    border-radius: 10px;
    color: white;
    width: 400px;
}

.form-register {
    position: relative;
    top: 170px;
    margin: 80px;
}

.form-control {
    transition: all 0.3s ease;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 12px;
}

.form-control:hover {
    border-color: #a0a0a0;
}

.form-control:focus {
    outline: none;
    border-color: #1e1e3f;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.25);
}

.button-card-register {
    border: none;
    margin-top: 15px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #47acaf, #1e1e3f);
}

.button-card-register:hover {
    background: linear-gradient(135deg, #1e1e3f, #47acaf);
    color: white;
    transform: scale(1.02);
}

.bottom-bar {
    width: 100%;
    height: 150px;
    top: 330px;
    left: 0;
    margin-top: auto;
    position: relative;
    background-color: rgba(49, 113, 145, 0.9);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: white;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.left-content {
    justify-content: space-between;
    display: flex;
}

.center-content {
    position: relative;
    right: 100px;
    top: 10px;
}

.right-content {
    justify-content: space-between;
    display: flex;
    margin-top: 25px;
}

.menu {
    position: relative;
    right: 100px;
    top: 20px;
    color: #1e1e3f;
}

.menu-title {
    position: relative;
    left: 15px;
}

.terms {
    position: relative;
    bottom: 90px;
    left: 100px;
}

.location {
    position: relative;
    right: 150px;
    bottom: 8px;
}

.address {
    color: #1e1e3f;
}

.follow {
    position: relative;
    display: flex;
    top: 40px;
    right: 20px;
}

.follow-me {
    font-size: 15px;
    position: relative;
    bottom: 30px;
    right: 55px;
    color: #1e1e3f;
}

.instagram-icon img {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
    right: 150px;
}

.instagram-icon img:hover {
    transform: scale(1.1);
}

.x-icon img {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
    right: 130px;
}

.x-icon img:hover {
    transform: scale(1.1);
}

.title-of-rights {
    position: relative;
    font-size: 12px;
    margin-top: 20px;
    left: 10px;
    top: 10px;
}

.button-1 {
    background: linear-gradient(135deg, #1e1e3f, #2a2a5a);
    border: none;
    margin-top: 15px;
    color: white;
}

.button-1:hover {
    background: linear-gradient(135deg, #1e1e3f, #2a2a5a);
    transform: scale(1.02);
}