body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
    margin: 0;
    background-image: url(../images/img/medical-structure-background-service-user.jpg);
    background-attachment: fixed;/* Deixa a imagem fixa durante a rolagem */
    background-size: cover;/* Faz a imagem cobrir toda a área */
    background-position: center;
    height: 100vh;/* Faz o body ocupar toda a altura da janela */
}

/* {
    outline: 1px solid rgba(255, 0, 0, 0.3) !important; /* Debug para delimitar elementos 
} */

.content {
    flex: 1;/* Faz o conteúdo principal ocupar o espaço entre o topo e a navegação */
}

.top-bar {
    position: relative;
    top: 0;
    width: 100%;
    background: rgba(30, 30, 63, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: white;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: top 0.3s ease-in-out;/* Transição suave ao esconder/exibir */
}

#navbarNav {
    position: relative;
    left: 700px;
}

.navbar-nav {
    position: relative;
    display: flex;
    gap: 25px;
}

.navbar-brand {
    position: relative;
    left: 20px;
}

.nav-link {
    color: white;
    position: relative;
    top: 10px;
}

.btn {
    color: white;
    border-color: white;
    background-color: rgba(5, 172, 255, 0.9);
}

.main-title {
    position: relative;
    width: 100%;
}

.title {
    font-family: 'Roboto Slab';
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
    color: white;

}

.title-bar {
    background-color: rgba(49, 113, 145, 0.9);
    width: 100%;
    height: auto;
}

.cards {
    display: flex;
    position: relative;
    gap: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-edit {
    position: relative;
    text-align: center;
    border-radius: 10%;
    transition: transform 0.3s;
    background: linear-gradient(135deg, #1e1e3f, #2a2a5a);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
}

.card-edit:hover {
    transform: translateY(-10px); /* Animação simples ao passar o mouse */
   
}

.modal-about {
    position: absolute;
}

.modal-header {
    background: linear-gradient(135deg, #1e1e3f, #2a2a5a);
    color: white;
}

.modal-footer {
    background: linear-gradient(135deg, #1e1e3f, #2a2a5a);
    color: white;
}

.card-body {
    position: relative;
    top: 20px;
    color: white;
}

.card-text {
    position: relative;
    margin: 20px;
}

.modal-contact-Us {
    position: absolute;
}

.bottom-bar {
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    margin-top: auto;
    background-color: rgba(30, 30, 63, 0.9);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: white;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.left-content {
    justify-content: space-between;
    display: flex;
}

.center-content {
    position: relative;
    right: 100px;
    top: 10px;
}

.right-content {
    justify-content: space-between;
    display: flex;
    margin-top: 25px;
}

.menu {
    position: relative;
    right: 100px;
    top: 20px;
}

.menu-title {
    position: relative;
    left: 15px;
}

.menu-tip {
    position: relative;
    color: white;
    text-decoration: none;
}

.menu-tip:hover {
    position: relative;
    color:#47acaf;
    transform: scale(1.02);
}

.terms {
    position: relative;
    bottom: 90px;
    left: 100px;
}

.location {
    position: relative;
    right: 150px;
    bottom: 8px;
}

.address {
    color: white;
}

.follow {
    position: relative;
    display: flex;
    top: 40px;
    right: 20px;
}

.follow-me {
    font-size: 15px;
    position: relative;
    bottom: 30px;
    right: 55px;
    color: white;
}

.instagram-icon img {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
    right: 150px;
}

.instagram-icon img:hover {
    transform: scale(1.1);
}

.x-icon img {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
    right: 130px;
}

.x-icon img:hover {
    transform: scale(1.1);
}

.title-of-rights {
    position: relative;
    font-size: 12px;
    margin-top: 20px;
    left: 10px;
    top: 10px;
}

.button-1 {
    background-color: rgba(49, 113, 145, 0.9);
    border: none;
    margin-top: 15px;
    color: white;
}

.button-1:hover {
    background: linear-gradient(135deg, #1e1e3f, #47acaf);
    transform: scale(1.02);
}

.button-card {
    border: none;
    margin-top: 15px;
    font-weight: bold;
    color: white;
    background-color: rgba(49, 113, 145, 0.9);
}

.button-card:hover {
    background: linear-gradient(135deg, #1e1e3f, #47acaf);
    color: white;
    transform: scale(1.02);
}