body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
    margin: 0;
    background-image: url(../images/img/medical-structure-background-service-user.jpg);
    background-attachment: fixed;
    /* Deixa a imagem fixa durante a rolagem */
    background-size: cover;
    /* Faz a imagem cobrir toda a área */
    background-position: center;
    height: 100vh;
    /* Faz o body ocupar toda a altura da janela */
}

/* {
    outline: 1px solid rgba(255, 0, 0, 0.3) !important; /* Debug para delimitar elementos 
} */

.content {
    flex: 1;
    /* Faz o conteúdo principal ocupar o espaço entre o topo e a navegação */
}

.top-bar {
    position: relative;
    top: 0;
    width: 100%;
    background: rgba(30, 30, 63, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: white;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    /* Transição suave ao esconder/exibir */
}

#navbarNav {
    position: relative;
    left: 700px;
}

.navbar-nav {
    position: relative;
    display: flex;
    gap: 25px;
}

.navbar-brand {
    position: relative;
    left: 20px;
}

.nav-link {
    color: white;
    position: relative;
    top: 10px;
}

.btn {
    color: white;
    border-color: white;
    background-color: rgba(5, 172, 255, 0.9);
}

.main-title {
    position: relative;
    width: 100%;
}

.title {
    font-family: 'Roboto Slab';
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
    color: white;

}

.title-bar {
    background-color: rgba(49, 113, 145, 0.9);
    width: 100%;
    height: auto;
}

.cards {
    display: flex;
    position: relative;
    gap: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-edit {
    position: relative;
    text-align: center;
    border-radius: 10%;
    transition: transform 0.3s;
    background: linear-gradient(135deg, #1e1e3f, #2a2a5a);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
}

.card-edit:hover {
    transform: translateY(-10px);
    /* Animação simples ao passar o mouse */

}

.modal-about {
    position: absolute;
}

.modal-header {
    background: linear-gradient(135deg, #1e1e3f, #2a2a5a);
    color: white;
}

.modal-footer {
    background: linear-gradient(135deg, #1e1e3f, #2a2a5a);
    color: white;
}

.card-body {
    position: relative;
    top: 20px;
    color: white;
}

.card-text {
    position: relative;
    margin: 20px;
}

.modal-contact-Us {
    position: absolute;
}

.bottom-bar {
    position: relative;
    top: 400px;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    margin-top: auto;
    background-color: rgba(30, 30, 63, 0.9);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: white;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.left-content {
    justify-content: space-between;
    display: flex;
}

.center-content {
    position: relative;
    right: 100px;
    top: 10px;
}

.right-content {
    justify-content: space-between;
    display: flex;
    margin-top: 25px;
}

.menu {
    position: relative;
    right: 100px;
    top: 20px;
}

.menu-title {
    position: relative;
    left: 15px;
}

.menu-tip {
    position: relative;
    color: white;
    text-decoration: none;
}

.menu-tip:hover {
    position: relative;
    color: #47acaf;
    transform: scale(1.02);
}

.terms {
    position: relative;
    bottom: 90px;
    left: 100px;
}

.location {
    position: relative;
    right: 150px;
    bottom: 8px;
}

.address {
    color: white;
}

.follow {
    position: relative;
    display: flex;
    top: 40px;
    right: 20px;
}

.follow-me {
    font-size: 15px;
    position: relative;
    bottom: 30px;
    right: 55px;
    color: white;
}

.instagram-icon img {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
    right: 150px;
}

.instagram-icon img:hover {
    transform: scale(1.1);
}

.x-icon img {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
    right: 130px;
}

.x-icon img:hover {
    transform: scale(1.1);
}

.title-of-rights {
    position: relative;
    font-size: 12px;
    margin-top: 20px;
    left: 10px;
    top: 10px;
}

.button-1 {
    background-color: rgba(49, 113, 145, 0.9);
    border: none;
    margin-top: 15px;
    color: white;
}

.button-1:hover {
    background: linear-gradient(135deg, #1e1e3f, #47acaf);
    transform: scale(1.02);
}

.button-card {
    border: none;
    margin-top: 15px;
    font-weight: bold;
    color: white;
    background-color: rgba(49, 113, 145, 0.9);
}

.button-card:hover {
    background: linear-gradient(135deg, #1e1e3f, #47acaf);
    color: white;
    transform: scale(1.02);
}



/*----------------------------------- MIDDLE CONTENT-------------------------------------*/

.container-table {
    height: 80vh;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
}

.full-screen-container {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    height: 110%;
}

.menutable {
    background-color: #1e1e3f;
    color: white;
    padding: 30px;
    height: 100%;
    position: relative;
}

.menu-button {
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.menu-button:hover,
.menu-button.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.375rem;
}

.content-area {
    padding: 30px;
    background-color: white;
    color: #333;
    border-left: 2px solid #ddd;
    height: 100%;
    overflow-y: auto;
}

.btn-custom {
    background-color: #1e1e3f;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: #2d2d57;
}

.content-area input,
.content-area select {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px 14px;
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.content-area button {
    background-color: #1e1e3f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 0.95rem;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.content-area button:hover {
    background-color: #14142b;
}

.input-group {
    display: flex;
    align-items: stretch;
  }
  
  .input-group input {
    flex-grow: 1;
  }
  
  .input-group button {
    flex-shrink: 0;
    height: 45px;
  }
